---
  openapi: 3.0.1
  info:
    title: Prisma Cloud Archived Asssets API Overview
    description: |
      The configuration details of assets that have been deleted (or terminated) from your cloud accounts for more than 90 days will be archived.
      You can use the Archived Asssets API to list or download the configuration details of archived deleted assets in the .zip format for a specific time range.
      You can set a time range from when the asset was deleted to when you onboarded to Prisma Cloud.
    version: Latest
    contact: {}
  servers:
  - url: https://api.prismacloud.io
    description: Generated server url
  tags:
  - name: Archived Asssets
    description: The Archived Asssets API endpoint is listed below.
  paths:
    "/config/api/v1/tenant/{prisma_id}/archiveList":
      get:
        tags:
        - Archived Asssets
        summary: Bulk export resource archives
        description: List or download the configuration details of assets that have been deleted for more than 90 days.
        operationId: bulkExportResourceArchives
        parameters:
        - name: prisma_id
          in: path
          description: Enter your tenant ID.
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          description: |
            The start date range for the resource archives in the YYYY-MM-DD format.
            You can choose a start date for cloud assets that have been deleted for more than 90 days.
          required: true
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: |
            The end date range for the resource archives in the YYYY-MM-DD format.
            You can choose an end date between asset deletion date and when you onboarded to Prisma Cloud.
          required: true
          schema:
            type: string
            format: date-time
        - name: include_url
          in: query
          description: |
            This is an optional field.
            By default, you will only receive a list of 10 resource archives in the response.
            If set to **true**, you will also receive 10 presigned URLs that you can use to download the deleted assets data in the .zip format.
            Each presigned URL can contain a maximum of 50,000 deleted assets for a cloud account.
          required: false
          schema:
            type: boolean
            default: false
        - name: nextPageToken
          in: query
          description: |
            The URL to fetch the next 10 resource archives for the specified time range.
          required: false
          schema:
            type: string
        responses:
          '200':
            description: Successfully retrieved resource archives
            content:
              application/json:
                schema:
                  type: array
                  items:
                    "$ref": "#/components/schemas/BulkExporterPage"
          '400':
            description: Bad Request
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApiError"
          '401':
            description: Unauthorized Access
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApiError"
          '403':
            description: Tenant License Expired
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApiError"
          '405':
            description: Wrong Http Method
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApiError"
          '425':
            description: Too Early to access the resource
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApiError"
          '429':
            description: Rate Limit Exceeded
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApiError"
          '500':
            description: Failed with an Exception, Internal Error Occurred
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/ApiError"
  components:
    securitySchemes:
      x-redlock-auth:
        description: The x-redlock-auth value is a JSON Web Token (JWT).
        in: header
        name: x-redlock-auth
        type: apiKey
    schemas:
      ApiError:
        type: object
        properties:
          status:
            type: string
            enum:
            - 100 CONTINUE
            - 101 SWITCHING_PROTOCOLS
            - 102 PROCESSING
            - 103 CHECKPOINT
            - 200 OK
            - 201 CREATED
            - 202 ACCEPTED
            - 203 NON_AUTHORITATIVE_INFORMATION
            - 204 NO_CONTENT
            - 205 RESET_CONTENT
            - 206 PARTIAL_CONTENT
            - 207 MULTI_STATUS
            - 208 ALREADY_REPORTED
            - 226 IM_USED
            - 300 MULTIPLE_CHOICES
            - 301 MOVED_PERMANENTLY
            - 302 FOUND
            - 302 MOVED_TEMPORARILY
            - 303 SEE_OTHER
            - 304 NOT_MODIFIED
            - 305 USE_PROXY
            - 307 TEMPORARY_REDIRECT
            - 308 PERMANENT_REDIRECT
            - 400 BAD_REQUEST
            - 401 UNAUTHORIZED
            - 402 PAYMENT_REQUIRED
            - 403 FORBIDDEN
            - 404 NOT_FOUND
            - 405 METHOD_NOT_ALLOWED
            - 406 NOT_ACCEPTABLE
            - 407 PROXY_AUTHENTICATION_REQUIRED
            - 408 REQUEST_TIMEOUT
            - 409 CONFLICT
            - 410 GONE
            - 411 LENGTH_REQUIRED
            - 412 PRECONDITION_FAILED
            - 413 PAYLOAD_TOO_LARGE
            - 413 REQUEST_ENTITY_TOO_LARGE
            - 414 URI_TOO_LONG
            - 414 REQUEST_URI_TOO_LONG
            - 415 UNSUPPORTED_MEDIA_TYPE
            - 416 REQUESTED_RANGE_NOT_SATISFIABLE
            - 417 EXPECTATION_FAILED
            - 418 I_AM_A_TEAPOT
            - 419 INSUFFICIENT_SPACE_ON_RESOURCE
            - 420 METHOD_FAILURE
            - 421 DESTINATION_LOCKED
            - 422 UNPROCESSABLE_ENTITY
            - 423 LOCKED
            - 424 FAILED_DEPENDENCY
            - 425 TOO_EARLY
            - 426 UPGRADE_REQUIRED
            - 428 PRECONDITION_REQUIRED
            - 429 TOO_MANY_REQUESTS
            - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
            - 451 UNAVAILABLE_FOR_LEGAL_REASONS
            - 500 INTERNAL_SERVER_ERROR
            - 501 NOT_IMPLEMENTED
            - 502 BAD_GATEWAY
            - 503 SERVICE_UNAVAILABLE
            - 504 GATEWAY_TIMEOUT
            - 505 HTTP_VERSION_NOT_SUPPORTED
            - 506 VARIANT_ALSO_NEGOTIATES
            - 507 INSUFFICIENT_STORAGE
            - 508 LOOP_DETECTED
            - 509 BANDWIDTH_LIMIT_EXCEEDED
            - 510 NOT_EXTENDED
            - 511 NETWORK_AUTHENTICATION_REQUIRED
          timestamp:
            type: string
            format: date-time
          message:
            type: string
          debugMessage:
            type: string
      BulkExporterBean:
        type: object
        properties:
          id:
            type: string
            example: cb8bad01-fa35-44d0-8d66-cd510d2d2fa2
            description: The unique ID of the resource archive.
          cloudAccountId:
            type: string
            example: sample-accountid-1
            description: Cloud account ID.
          date:
            type: string
            example: "2022-04-15"
            description: The resource deleted date.
          url:
            type: string
            example: “https://resource-config-archives.s3.amazonaws.com/resource_config_inactive_resource_archives/prismaId/filename.txt.gz”
            description: The presigned URL of the resource archive that you can use to download the deleted assets data in the .zip format.
      BulkExporterPage:
        type: object
        properties:
          value:
            type: array
            items:
              "$ref": "#/components/schemas/BulkExporterBean"
          nextPageUrl:
            type: string
            example: "/config/api/v1/tenant/801905077827777536/archiveList?nextPageToken=MTY1OTY3NTc4NjQ5M18y&start_date=2022-04-15&end_date=2022-07-15&include_url=true"
            description: The URL to fetch the next 10 resource archives for the specified time range.
            