.rql-data-table.left {
    text-align: left;
    min-width: 300px;
    font-weight: bold;
  }
  
  .rql-data-table.right {
    text-align: left;
  }
  
  .rql-data-table, .rql-data-table.center {
    text-align: center;
  }