.queryDescription {
  padding-bottom: 1rem;
  white-space: normal !important;
}

.queryCode {
  white-space: pre !important;
}

.queryContent {
  padding: 0;
  margin: auto !important;
  box-shadow: none;
  border-width: 10px;
  border: 5px;
  border-style: outset;
  border-color: var(--ifm-color-primary);
}
