.rqlFilterItem {
  display: inline-block;
  width: 100%;
  justify-content: right;
}

/* Search bar */
@media screen and (max-width: 966px) {
  .webflow {
    padding: 1rem 1.6rem 1.1rem !important;
  }

  .webflow input {
    flex-grow: 1;
    color: var(--ifm-color-info-dark);
    font-size: 16px !important;
    line-height: 1rem !important;
    vertical-align: middle;
  }

  .searchIcon {
    font-size: 16px !important;
    vertical-align: middle;
  }
}

input {
  border-style: none;
  background: transparent;
  outline: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.webflow {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1109.63px;
  border-bottom-style: inset;
  border-color: var(--ifm-color-primary);
  border-radius: 5px;
  padding: 0 1rem;
  background: var(--ifm-color-gray-switch);
}

.webflow input {
  flex-grow: 1;
  color: var(--ifm-color-info-dark);
  font-size: 0.9rem;
  line-height: 2rem;
  vertical-align: middle;
}

.webflow::-webkit-input-placeholder {
  color: var(--ifm-color-secondary);
}

.webflow button {
  color: var(--ifm-color-secondary);
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
}

.webflow:hover {
  color: var(--ifm-color-primary);
}

.searchIcon {
  font-size: 16px;
  vertical-align: middle;
  line-height: 2.4rem;
}
